.nav-item{
    padding-left: 30px;
}

form>button.btn {
    background-color: #E894B3;
}
form>button.btn:hover {
    background-color: #df477e;
}

div.jumbotron {
    background-color: #FCD8E9;
}

div.card {
    padding: 0% 5%;
}

div.card-header{
    background-color: #9D214F;
}

a:link, a:visited {
    color: #FEE4ED;
    text-decoration: none;
    cursor: default;
}
  
a:link:active, a:visited:active {
    color: (internal value);
}